In [1]:
a = ['apple','banana','republic']

In [3]:
for item in a:
    print(item)

apple
banana
republic

In [6]:
for i in range(len(a)):# 0,1,2
    for j in range(i+1):
        # i=0 -> j = 0 
        # i=1 -> j = 0,1
        # i=2 -> j=0,1,2
        print(a[i])

apple
banana
banana
republic
republic
republic

In [7]:
print(list(range(1,100)))
# Compute sum of all the integers that are multiple of 3 and 5 and under 100

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [8]:
total = 0
for i in range(1,100):
    if i%3 == 0 :      # if i% == 0 or i%5 == 0: total += 0
        total += i
    elif i%5 == 0:
        total+=i
print(total)

2318

In [13]:
given_list = [7, 5, 4, 4, 3, 1, -2, -3, -5 ,-7 ]
total2 = 0
l=[]
for item in given_list:
    if item < 0 :
        l.append(item)
print(sum(l))

-17

In [17]:
given_list = [7, 5, 4, 4, 3, 1, -2, -3, -5 ,-7 ]

tot = 0
j = len(given_list) - 1
while given_list[j] < 0:
    tot += given_list[j]
    j -= 1
print(tot)

-17

In [18]:
d = {}
# d = {"Gorge":24 , "Tom":32}

In [19]:
d["Gorge"] = 24
d["Tom"] = 32
d["Jenny"] = 16

In [20]:
print(d["Gorge"])

24

In [21]:
d

{'Gorge': 24, 'Tom': 32, 'Jenny': 16}

In [24]:
for key,value in d.items():
    print("key:")
    print(key)
    print("values")
    print(value)
    print(" ")

key:
Gorge
values
24

key:
Tom
values
32

key:
Jenny
values
16

In [ ]:
class Robot:
    def introduce_self():
        print("My name is " +  self.name)